//colour classes
//array mapping : multidimensional list : sass 3.3 =>
$colors: ( 
    
    'grey': (
        $pf-color-brand-grey-50, 
        $pf-color-brand-grey-100, 
        $pf-color-brand-grey-200, 
        $pf-color-brand-grey-300, 
        $pf-color-brand-grey-400, 
        $pf-color-brand-grey-500, 
        $pf-color-brand-grey-600, 
        $pf-color-brand-grey-700, 
        $pf-color-brand-grey-800, 
        $pf-color-brand-grey-900
    ), 

    'red': (
        $pf-color-brand-red-50, 
        $pf-color-brand-red-100, 
        $pf-color-brand-red-200, 
        $pf-color-brand-red-300, 
        $pf-color-brand-red-400, 
        $pf-color-brand-red-500, 
        $pf-color-brand-red-600, 
        $pf-color-brand-red-700, 
        $pf-color-brand-red-800, 
        $pf-color-brand-red-900
    ), 

    'darkblue': (
        $pf-color-brand-darkblue-50, 
        $pf-color-brand-darkblue-100, 
        $pf-color-brand-darkblue-200, 
        $pf-color-brand-darkblue-300, 
        $pf-color-brand-darkblue-400, 
        $pf-color-brand-darkblue-500, 
        $pf-color-brand-darkblue-600, 
        $pf-color-brand-darkblue-700, 
        $pf-color-brand-darkblue-800, 
        $pf-color-brand-darkblue-900
    ), 

    'lightblue': (
        $pf-color-brand-lightblue-50, 
        $pf-color-brand-lightblue-100, 
        $pf-color-brand-lightblue-200, 
        $pf-color-brand-lightblue-300, 
        $pf-color-brand-lightblue-400, 
        $pf-color-brand-lightblue-500, 
        $pf-color-brand-lightblue-600, 
        $pf-color-brand-lightblue-700, 
        $pf-color-brand-lightblue-800, 
        $pf-color-brand-lightblue-900
    ),

    'green': (
        $pf-color-brand-green-50, 
        $pf-color-brand-green-100, 
        $pf-color-brand-green-200, 
        $pf-color-brand-green-300, 
        $pf-color-brand-green-400, 
        $pf-color-brand-green-500, 
        $pf-color-brand-green-600, 
        $pf-color-brand-green-700, 
        $pf-color-brand-green-800, 
        $pf-color-brand-green-900
    ),

    'purple': (
        $pf-color-brand-purple-50, 
        $pf-color-brand-purple-100, 
        $pf-color-brand-purple-200, 
        $pf-color-brand-purple-300, 
        $pf-color-brand-purple-400, 
        $pf-color-brand-purple-500, 
        $pf-color-brand-purple-600, 
        $pf-color-brand-purple-700, 
        $pf-color-brand-purple-800, 
        $pf-color-brand-purple-900
    ),

    'orange': (
        $pf-color-brand-orange-50, 
        $pf-color-brand-orange-100, 
        $pf-color-brand-orange-200, 
        $pf-color-brand-orange-300, 
        $pf-color-brand-orange-400, 
        $pf-color-brand-orange-500, 
        $pf-color-brand-orange-600, 
        $pf-color-brand-orange-700, 
        $pf-color-brand-orange-800, 
        $pf-color-brand-orange-900
    ),
    'yellow': (
        $pf-color-brand-yellow-50, 
        $pf-color-brand-yellow-100, 
        $pf-color-brand-yellow-200, 
        $pf-color-brand-yellow-300, 
        $pf-color-brand-yellow-400, 
        $pf-color-brand-yellow-500, 
        $pf-color-brand-yellow-600, 
        $pf-color-brand-yellow-700, 
        $pf-color-brand-yellow-800, 
        $pf-color-brand-yellow-900
    )
    
);

//function
@each $name, $value in $colors {
    
    //background colours
    .pf-#{$name}-bg { 
    background-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-50-bg { 
    background-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-bg { 
    background-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-bg { 
    background-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-bg { 
    background-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-bg { 
    background-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-bg { 
    background-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-bg { 
    background-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-bg { 
    background-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-bg { 
    background-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-bg { 
    background-color: nth($value, 10) !important; 
    }

//text colours
    .pf-#{$name}-text { 
    color: nth($value, 6) !important; 
    }

    .pf-#{$name}-50-text { 
    color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-text { 
    color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-text { 
    color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-text { 
    color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-text { 
    color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-text { 
    color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-text { 
    color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-text { 
    color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-text { 
    color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-text { 
    color: nth($value, 10) !important; 
    }

    //gradient colours
    .pf-#{$name}-gradient { 
    background: nth($value, 6); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 6)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-50-gradient { 
    background: nth($value, 1); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 1) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 1) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 1) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 1)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-100-gradient { 
    background: nth($value, 2); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 2) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 2) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 2) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 2)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-200-gradient { 
    background: nth($value, 3); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 3) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 3) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 3) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 3)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-300-gradient { 
    background: nth($value, 4); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 4) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 4) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 4) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 4)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-400-gradient { 
    background: nth($value, 5); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 5) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 5) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 5) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 5)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-500-gradient { 
    background: nth($value, 6); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 6) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 6)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-600-gradient { 
    background: nth($value, 7); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 7) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 7) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 7) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 7)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-700-gradient { 
    background: nth($value, 8); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 8) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 8) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 8) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 8)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-800-gradient { 
    background: nth($value, 9); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 9) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 9) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 9) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 9)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    .pf-#{$name}-900-gradient { 
    background: nth($value, 10); // Fallback
    background: -moz-linear-gradient(top,  nth($value, 10) 0%, rgba(255,255,255,0) 100%); //Firefox
    background: -webkit-linear-gradient(top,  nth($value, 10) 0%, rgba(255,255,255,0) 100%); //Safari
    background: linear-gradient(to bottom,  nth($value, 10) 0%, rgba(255,255,255,0) 100%); //Standard
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{nth($value, 10)}", endColorstr='rgba(255,255,255,0)', GradientType=0 ); // IE : Interpolation required to escape and pass variable  
    }

    //border : all
    .pf-#{$name}-border { 
    border-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-50-border { 
    border-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-border { 
    border-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-border { 
    border-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-border { 
    border-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-border { 
    border-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-border { 
    border-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-border { 
    border-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-border { 
    border-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-border { 
    border-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-border { 
    border-color: nth($value, 10) !important; 
    }

    //border : top
    .pf-#{$name}-top-border { 
    border-top-color: nth($value, 6) !important;    
    }

    .pf-#{$name}-50-top-border { 
    border-top-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-top-border { 
    border-top-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-top-border { 
    border-top-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-top-border { 
    border-top-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-top-border { 
    border-top-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-top-border { 
    border-top-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-top-border { 
    border-top-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-top-border { 
    border-top-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-top-border { 
    border-top-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-top-border { 
    border-top-color: nth($value, 10) !important; 
    }

    //border : right
    .pf-#{$name}-right-border { 
    border-right-color: nth($value, 6) !important;    
    }

    .pf-#{$name}-50-right-border { 
    border-right-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-right-border { 
    border-right-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-right-border { 
    border-right-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-right-border { 
    border-right-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-right-border { 
    border-right-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-right-border { 
    border-right-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-right-border { 
    border-right-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-right-border { 
    border-right-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-right-border { 
    border-right-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-right-border { 
    border-right-color: nth($value, 10) !important; 
    }

    //border : bottom
    .pf-#{$name}-bottom-border { 
    border-bottom-color: nth($value, 6) !important;    
    }

    .pf-#{$name}-50-bottom-border { 
    border-bottom-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-bottom-border { 
    border-bottom-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-bottom-border { 
    border-bottom-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-bottom-border { 
    border-bottom-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-bottom-border { 
    border-bottom-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-bottom-border { 
    border-bottom-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-bottom-border { 
    border-bottom-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-bottom-border { 
    border-bottom-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-bottom-border { 
    border-bottom-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-bottom-border { 
    border-bottom-color: nth($value, 10) !important; 
    }

    //border : left
    .pf-#{$name}-left-border { 
    border-left-color: nth($value, 6) !important;    
    }

    .pf-#{$name}-50-left-border { 
    border-left-color: nth($value, 1) !important; 
    }

    .pf-#{$name}-100-left-border { 
    border-left-color: nth($value, 2) !important; 
    }

    .pf-#{$name}-200-left-border { 
    border-left-color: nth($value, 3) !important; 
    }

    .pf-#{$name}-300-left-border { 
    border-left-color: nth($value, 4) !important; 
    }

    .pf-#{$name}-400-left-border { 
    border-left-color: nth($value, 5) !important; 
    }

    .pf-#{$name}-500-left-border { 
    border-left-color: nth($value, 6) !important; 
    }

    .pf-#{$name}-600-left-border { 
    border-left-color: nth($value, 7) !important; 
    }

    .pf-#{$name}-700-left-border { 
    border-left-color: nth($value, 8) !important; 
    }

    .pf-#{$name}-800-left-border { 
    border-left-color: nth($value, 9) !important; 
    }

    .pf-#{$name}-900-left-border { 
    border-left-color: nth($value, 10) !important; 
    }

    //triangle : up
    .pf-#{$name}-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-50-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 1) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-100-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 2) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-200-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 3) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-300-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 4) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-400-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 5) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-500-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-600-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 7) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-700-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 8) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-800-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 9) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-900-top-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid nth($value, 10) !important;
    display: inline-block;
    margin-right: 5px;
    }

    //triangle : down
    .pf-#{$name}-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-50-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 1) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-100-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 2) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-200-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 3) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-300-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 4) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-400-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 5) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-500-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-600-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 7) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-700-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 8) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-800-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 9) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-900-down-triangle {
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid nth($value, 10) !important;
    display: inline-block;
    margin-right: 5px;
    }

    //triangle : left
    .pf-#{$name}-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-50-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 1) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-100-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 2) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-200-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 3) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-300-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 4) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-400-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 5) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-500-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-600-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 7) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-700-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 8) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-800-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 9) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-900-left-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid nth($value, 10) !important;
    display: inline-block;
    margin-right: 5px;
    }

    //triangle : right
    .pf-#{$name}-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-50-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 1) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-100-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 2) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-200-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 3) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-300-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 4) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-400-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 5) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-500-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 6) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-600-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 7) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-700-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 8) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-800-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 9) !important;
    display: inline-block;
    margin-right: 5px;
    }

    .pf-#{$name}-900-right-triangle {
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 10px solid nth($value, 10) !important;
    display: inline-block;
    margin-right: 5px;
    }

    //buttons
    .pf-#{$name}-button,
    .pf-#{$name}-input[type="button"],
    .pf-#{$name}-input[type="reset"],
    .pf-#{$name}-input[type="submit"] {
      background-color: nth($value, 6) !important;
      border: none;
      text-align: center;
      color: white;
      padding: 10px 30px;    
      border-radius: 5%;    
    }

    .pf-#{$name}-button:focus,
    .pf-#{$name}-input[type="button"]:focus,
    .pf-#{$name}-input[type="reset"]:focus,
    .pf-#{$name}-input[type="submit"]:focus,
    .pf-#{$name}-button:hover,
    .pf-#{$name}-input[type="button"]:hover,
    .pf-#{$name}-input[type="reset"]:hover,
    .pf-#{$name}-input[type="submit"]:hover {
      background-color: nth($value, 8) !important;
    }

    .pf-#{$name}-button:active,
    .pf-#{$name}-input[type="button"]:active,
    .pf-#{$name}-input[type="reset"]:active,
    .pf-#{$name}-input[type="submit"]:active {
      background-color: nth($value, 8) !important;
    }

}
